* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: red;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    padding: 0 15px;
}

header nav ul a {
    font-size: 24px;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: beige;
    color: #3f3f3f;
    font-size: 18px;
}

img {
    max-width: 100%;
}

p {
    line-height: 1.5em;
    padding: 10px;
}

p.titulo {
    font-size: 26px;
    font-weight: bolder;
}

.titulo span {
    color: brown;
}

p.subtitulo {
    font-size: 22px;
}

div.datos p {
    font-size: 16px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.burger {
    color: white;
    font-size: 34px;
    display: none;
}

.logo {
    font-size: 50px;
}

.hero {
    height: 100vh;
    background-color: white;
    background-image: url('../img/home-3095597_1920 (1).jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hero h1 {
    color: brown;
    font-size: 50px;
    line-height: initial;
    margin: 40px;
}

.hero input {
    margin: 20px;
    font-size: 24px;
    border: solid 2px lightgrey;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#busqueda::-webkit-input-placeholder {
    background-image: url('../icon/musica-searcher.svg');
    background-repeat: no-repeat;
    text-indent: 30px;
}

.boton {
    padding: 10px;
    margin: 20px;
    font-size: 22px;
    color: white;
    background-color: brown;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.fila {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.col {
    flex-basis: 200px;
    flex-grow: 1;
}

.tarjeta {
    width: 300px;
    height: 400px;
    background-color: white;
    box-shadow: 4px 4px 4px 4px dimgray;
}

.imagen {
    width: 300px;
    height: 200px;
    overflow: hidden;
    text-align: top;
}

.datos {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
}

.detalle {
    text-decoration: none;
    background-color: brown;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 15px;
    align-self: center;
}

.acceso {
    border: solid 4px brown;
    background-color: white;
    border-radius: 100px;
    margin: 20px;
    text-align: center;
}

.form {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: brown;
}

.form p {
    color: bisque;;
    font-size: 26px;
}

.form input {
    font-size: 24px;
    border: none;
    border: solid 2px grey;
    color: #3f3f3f;
}

.form .boton {
    border: none;
    background-color: bisque;
    color: black;
}

input:focus {
    outline:none;
}

footer {
    width: 100%;
    background: #3f3f3f;
    color: burlywood;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.izdo {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 15px;
}

.centro {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centro a {
    color: burlywood;
    font-size: 18px;
    padding: 5px; 
}

.centro a:hover {
    color: brown;
}

.dcho {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.dcho a {
    color: burlywood;
    font-size: 32px;
    padding: 5px;
}

.dcho a:hover {
    color: brown;
}

.copy {
    width: 100%;
    padding: 5px;
}

.copy p {
    color: burlywood;
    text-align: center;
}

.copy a {
    color: burlywood;
}

.copy a:hover {
    color: brown;
}

.bread {
    padding-top: 120px;
    padding-right: 20px;
    text-align: right;
}

.bread a {
    color: grey;
}

.centrado {
    text-align: center;
}

.img {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 600px);
    grid-template-rows: repeat(2,400px);
    grid-gap: 40px;
    justify-content: center;
}

.telefono {
    width: 80%;
    margin: 20px;
    font-size: 26px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
}

.rrss {
    width: 80%;
    margin: 20px;
    font-size: 26px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
}

form.contacto {
    width: 80%;
    padding: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
    background-color: white;

}

form.contacto .fila {
    display: flex;
    justify-content: flex-start;
}

form.contacto .col {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

form.contacto.casa{
    width: 80%;
}

form.contacto.casa p{
    color: brown;
}


.legal h2 {
    font-size: 26px;
}

.legal h3 {
    font-size: 18px;
    padding: 10px;
}

.legal p, li {
    font-size: 16px;
    padding: 10px;
}

.legal ul {
    padding-left: 40px;
    line-height: 1em; 
}

h1 {
    text-align: center;
    color: brown;
    padding: 10px;
}

.contenedor {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(1,400px);
    grid-gap: 40px;
    justify-content: center;
}

.centrado h3 {
    padding: 10PX;
    text-align: center;
    color: brown;
}

.b {
    background-color: brown;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.derecho{
    float: right;
}

.izquierdo {
    float: left;
}

.pagina {
    text-align: center;
    padding: 50px;
}

.numero {
    text-decoration: none;
    background-color: brown;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;

}

/*MEDIA QUERIES*/

@media (min-width:1280px){
    .hero {
        background-attachment: fixed;
    }
}

@media (max-width:720px) {
    .fila {
        display: flex;
        flex-direction: column;
    }
    .col {
        flex-basis: initial;
        margin: 20px;
    }
    .izdo,.centro,.dcho {
        flex-basis: 200px;
    }
} 

@media (max-width:640px) {
    .burger {
        display: initial;
    }
    nav {
        display: none;
    }
    .hero h1 {
        font-size: 36px;
        text-align: center;
        padding: 0 10px;
    }
    .form {
        text-align: center;
        width: 100%;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .izdo,.centro,.dcho {
        flex-basis: 200px;
    }
}

@media (max-width:420px) {
    .fila {
        margin: 10px;
    } 
    .form input {
        font-size: 20px;
        padding: 10px;
    }
    .form .boton {
        font-size: 20px;
        padding: 10px;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
    .izdo {
        text-align: center
    }
    .img {
        margin: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 400px);
        grid-template-rows: repeat(1,300px);
        grid-gap: 10px;
        justify-content: center;
    }
    iframe {
        width: 350px;
    }
}

